/* CSS Document */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

:focus {
  outline: 0; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  background: #fff;
  color: #000;
  font: 62.5% Arial, Helvetica, sans-serif;
  line-height: 1;
}

html, body {
  height: 100%; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }

button {
  border: 0 none;
  padding: 0;
  cursor: pointer; }
  button::-moz-focus-inner {
    padding: 0;
    border: 0; }

input[type="text"], input[type="password"], textarea {
  /*border: 1px solid black;*/
}

h1 {font-size:2.9em;}
h2 {font-size:2.6em;}
h3 {font-size:2.3em;}
h4 {font-size:2em;}
h5 {font-size:1.7em;}
h6 {font-size:1.4em;}

ol, ul {
  list-style: none;
}

p, li {
  font-size:1.4em;
  line-height:1.4;
  margin:1em 0;
  -webkit-text-size-adjust:none;
}
strong {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left; }

/*---helpers---*/
.border {
  border: 1px solid black;
}

/*---classes---*/
.container {
  position: relative;
}

.content {
  padding: 8em 0 0;
}

.f-1 {}
.f-1-label {
  font-size: 1.4em;
  font-weight: bold;
  margin: 0 0 0.5em;
}

.footer {
  border-top: 1px solid #888;
  text-align: center;
}

.friends {}
.friends-hd {
  font-weight: bold;
  margin: 1em 0 0.5em;
}
.friends-list {}
.friends-list li {
  border-top: 1px solid #888;
  font-size: 1em;
  margin: 0;
}
.friends-list li a {
  display: block;
  padding: 1em 0 1em 1em;
}
.friends-list li a:after {
  clear: both;
  content: '.';
  display: block;
  height: 0;
  visibility: hidden;
  width: 0;
}
.friends-list-img {
  border: 1px solid #888;
  float: left;
  height: 3em;
  margin: 0 1em 0 0;
  overflow: hidden;
  width: 3em;
}
.friends-list-img img {
  float: left;
}
.friends-list-name {
  float: left;
  font-size: 1.4em;
  margin: 0.4em 0 0;
}

.header-wr {
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
}
.header {
  background: #fff;
  border-bottom: 1px solid #888;
  height: 8em;
  padding:0.5em 0;
}
.header:after {
  clear: both;
  content: '.';
  display: block;
  height: 0;
  visibility: hidden;
  width: 0;
}
.header .header-hd {
  float: left;
  margin:1em 0 0;
}
.header .header-hd p {
  margin: 0;
}
.header .header-hd-hd {
  font-size: 3em;
  line-height: 1;
  text-transform: uppercase;
}
.header .header-hd-exp {
  font-size: 1.2em;
}
.header .header-login {
  float: right;
  font-size: 1.5em;
  margin:1.8em 0 0;
}

.logo {
  float: left;
  height: 6em;
  margin: 0.3em 0 0;
}
.logo img {
  height: 100%;
}

.map {
  margin: 2em 0;
}
.map h1 {
  margin: 0;
}
.map img {
  max-width: 100%;
}
.map-holder {
  margin: 1em 0 0;
}

.menu {
  margin: 1.2em 0 0 2em;
}
.menu li {
  margin: 0;
}
.menu li a {}

.modals {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.2+0,0.2+100 */
  background: -moz-linear-gradient(top,  rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.2) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.2) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.2) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33000000', endColorstr='#33000000',GradientType=0 ); /* IE6-9 */
  bottom: 0;
  display: none;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
}
.modals-box {
  background: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  display: none;
  left: 50%;
  margin:0 0 0 -20em;
  padding: 3em 2em 2em;
  position: fixed;
  top: 5em;
  width: 40em;
}
.modals-box .f-1 {}
.modals-box-close {
  color: #555;
  cursor: pointer;
  font-size: 1.5em;
  font-weight: bold;
  position: absolute;
  right: 0.5em;
  top: 0.5em;
}
.modals-box-close:hover {
  color: #000;
}

.subhd {
  font-size: 2em;
  font-style: italic;
  text-align: center;
}

.tasks {}
.tasks h3 {
  margin: 0 0 0.5em;
}
.tasks-add {
  margin: 2em 0;
  text-align: center;
}
.tasks-add-form {
  display: none;
  /*margin: 1em 0 0;*/
}
.tasks-add-success {
  color: #5cb85c;
  display: inline-block;
  display: none;
  font-size: 1.4em;
  line-height: 1.43;
  padding: 0.5em 0;
  vertical-align: middle;
  white-space: nowrap;
}
.tasks-list {
  margin: 0 0 2em;
}
.tasks-list h3 {
  font-size: 1.5em;
}
.tasks-list-btn {
  text-align: center;
}
.tasks-list-btn .btn {
  color: #fff;
}
.tasks-list-btn-status {
  font-size: 1.4em;
  margin: 0 1em 0 0;
}
.tasks-list-description {
  margin: 2em 0 1em;
}
.tasks-list-info {}
.tasks-list-info li {
  font-size: 1.2em;
  margin: 0;
}
.tasks-list-info-data {
  font-weight: bold;
}

.userinfo {
  /*border-bottom: 1px solid #888;*/
  margin: 1em 0;
}
.userinfo:after {
  clear: both;
  content: '.';
  display: block;
  height: 0;
  visibility: hidden;
  width: 0;
}
.userinfo-ava {
  border: 1px solid #888;
  float: left;
  margin: 0 2em 0 0;
  height: 10em;
  width: 10em;
}
.userinfo-info {
  float: left;
  margin: 0;
}
.userinfo-info-name {
  font-size: 2.5em;
  line-height: 1.2;
  margin: 0 0 1em;
}

/*--- Wrapper ---*/
.wrapper {
  min-height: 100%;
  position: relative;
}


/*--- jQuery UI ---*/
.ui-accordion .ui-accordion-header {
  font-size: 1.5em;
}